<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/59eb334e-778f-41e7-b859-c9d27e04dcff/resourcegroups/Kemrisk/providers/Microsoft.ContainerRegistry/registries/Castle220201211164339</ResourceId>
    <ResourceName>Castle220201211164339</ResourceName>
    <ResourceGroup>Kemrisk</ResourceGroup>
    <Subscription>Visual Studio Enterprise – MPN</Subscription>
    <RegistryUrl>https://castle220201211164339.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>